.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  inline-size: 100%;
  color: var(--color-dark-gray);
  padding-block: var(--spacing-sm);

  & a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: var(--color-gunmetal);
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
  }
}