@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 300 900;
  font-stretch: 100%;
  src: local('Rubik Light'), local('Rubik-Light'),
    url(../fonts/Rubik/rubik-light.woff2) format('woff2');
  font-display: swap;
}
