:root {
  --color-black: hsla(152, 100%, 3%, 1);
  --color-gunmetal: hsla(182, 33%, 16%, 1);
  --color-dark-gray: hsla(10, 0%, 25%, 1);
  --color-light-gray: hsla(185, 17%, 61%, 1);
  --color-white: hsla(142, 100%, 98%, 1);

  --spacing-base: 1.5rem;
  --spacing-xl: calc(var(--spacing-base) * 2);
  --spacing-lg: calc(var(--spacing-base) * 1.5);
  --spacing-sm: calc(var(--spacing-base) / 2);
  --spacing-xs: calc(var(--spacing-base) / 4);

  --border-radius: calc(var(--spacing-base) / 3);
  --border-radius-sm: calc(var(--border-radius) / 2);

  --box-shadow: var(--spacing-xs) var(--spacing-xs) 0 0 var(--color-black);

  --font-family: Rubik;
}
