:root {
  --color-black: hsla(152, 100%, 3%, 1);
  --color-gunmetal: hsla(182, 33%, 16%, 1);
  --color-dark-gray: hsla(10, 0%, 25%, 1);
  --color-light-gray: hsla(185, 17%, 61%, 1);
  --color-white: hsla(142, 100%, 98%, 1);

  --spacing: 1.5rem;

  --border-radius: 0.5rem;

  --box-shadow: var(--space) var(--space) 0 0 var(--color-black);
}
